**/**/**/*.pyc
**/**/*.pyc
**/*.pyc
*.pyc
machine_learning/desafio_evaluado_1/desafio_evaluado_1.zip
machine_learning/desafio_evaluado_2/desafio_evaluado_2.zip
sql_para_ds/Prueba/.env
sql_para_ds/Prueba/*.pkl